<mat-toolbar color="primary" class="main-toolbar">
  <mat-toolbar-row>
      <span><a routerLink="/Article" class="router-link">Meneee </a></span>
      <span class="example-spacer"></span>
      <button mat-icon-button (click)="navigateToAuthor()">
          Author<mat-icon>book</mat-icon>
      </button>
      <span class="example-spacer"></span>
      <button mat-icon-button (click)="navigateToCategory()">
          Category<mat-icon>category</mat-icon>
      </button>
      <span class="example-spacer"></span>
      <button mat-icon-button (click)="navigateToPublish()">
          Publish<mat-icon>publish</mat-icon>
      </button>
      <span class="example-spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>
