<br>
<mat-grid-list cols="4" rowHeight="2:1">
    <mat-grid-tile colspan="1" rowspan="1"><img src="https://material.angular.io/assets/img/examples/shiba2.jpg"/></mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="1">
        <div>
            <h2>Sample headline goes here </h2> 
            <span>by Kenneth 23-11-2018 13:20</span>
            <p>Sample text sample text sample text sample text sample text sample text sample text Sample text sample text sample text sample text sample text sample text sample textSample text sample text sample text sample text sample text sample text sample textSample text sample text sample text sample text sample text sample text sample textSample text sample text sample text sample text sample text sample text sample text</p>
        </div>
    </mat-grid-tile>
</mat-grid-list>
<mat-divider></mat-divider>
<mat-grid-list cols="4" rowHeight="2:1">
    <mat-grid-tile colspan="1" rowspan="1"><img src="https://material.angular.io/assets/img/examples/shiba2.jpg"/></mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="1">
        <div>
            <h2>Sample headline goes here</h2>
            <span>by Kenneth 23-11-2018 13:20</span>
            <p>Sample text sample text sample text sample text sample text sample text sample text Sample text sample text sample text sample text sample text sample text sample textSample text sample text sample text sample text sample text sample text sample textSample text sample text sample text sample text sample text sample text sample text</p>
        </div>
    </mat-grid-tile>
</mat-grid-list>
<mat-divider></mat-divider>